@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=The+Nautigal:wght@700&display=swap');
@import 'variables.scss';
@import './globalClasses/inputs.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: scroll;
  min-height: 100vh;
  font-family: 'Quicksand', sans-serif;
  width: 100%;
}

main,
header {
  width: 90%;
  margin: auto;
}

body {
  display: inline-block;
}

#navigation-list {
  font-family: 'Nunito Sans', sans-serif;
}

#logo {
  font-family: 'The Nautigal', cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}
