@import '../variables.scss';

.Clock {
  position: absolute;
  width: 150px;
  height: 150px;
  border: 2px solid $primary-color;
  border-radius: 50%;
  left: 50%;
  top: 400%;
  background: #fefbf2;
  box-shadow: inset 0px 0px 10px black;
  transform: translate(-50%, -50%) scale(0.7);

  &::before {
    position: absolute;
    content: '';
    height: 70px;
    width: 4px;
    background: black;
    top: 50%;
    left: calc(50% - 5px);
    border-radius: 5px;
    animation: spin 1s linear infinite;
    transform-origin: top;
  }

  &::after {
    position: absolute;
    content: '';
    height: 50px;
    width: 4px;
    background: black;
    top: 50%;
    left: calc(50% - 5px);
    border-radius: 5px;
    animation: spin 11s linear infinite;
    transform-origin: top;
  }
}

@keyframes spin {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@media (min-width: $tablet-viewport) {
  .Clock {
    transform: translate(-50%, -50%) scale(1);
  }
}
