@import '../variables.scss';

.Form {
  text-align: center;
  fieldset {
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
    margin: auto;
    input {
      width: 95%;
      margin: auto;
      padding-left: 0.5rem;
    }
    label {
      font-size: 0.6rem;
      transform: translate(-7px, 12px) scale(1);
    }
  }
}

.Btn {
  margin-top: 2rem;
  padding: 0.7rem 2.5rem;
  border-radius: 0.3rem;
  background-color: transparent;
  border: 2px solid $primary-color;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

@media (min-width: $big-phone-viewport) {
  .Form {
    fieldset {
      label {
        font-size: 0.8rem;
      }
    }
  }

  .Btn {
    margin-top: 3rem;
  }
}

@media (min-width: $tablet-viewport) {
  .Form {
    label {
      font-size: 1rem;
    }
    fieldset {
      label {
        font-size: 1rem;
      }
    }
  }

  .Btn {
    margin-top: 3rem;
  }
}

@media (min-width: $desktop-viewport) {
  .Form {
    width: 80%;
    margin: auto;
    fieldset {
      input {
        width: 98%;
      }
    }
  }

  .Btn {
    margin-top: 4rem;
  }
}
@media (min-width: $big-desktop-viewport) {
  .Form {
    width: 70%;
    margin: auto;
    fieldset {
      input {
        width: 100%;
      }
    }
  }

  .Btn {
    margin-top: 4rem;
  }
}
